services:
  postgres:
    container_name: postgres
    image: postgres:15.3
    restart: on-failure
    env_file:
      - 'ecsb-backend/docker.env'
    ports:
      - '5432:5432'
    volumes:
      - ./postgres15_data:/var/lib/postgresql/data
      - ./ecsb-backend/dbscripts/:/docker-entrypoint-initdb.d/

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.12-management
    ports:
      - '15672:15672'
      - '5672:5672'
    volumes:
      - ./ecsb-backend/rabbit/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf # add configuration
      - ./ecsb-backend/rabbit/enabled_plugins:/etc/rabbitmq/enabled_plugins # add plugins

  redis:
    container_name: redis
    image: redis/redis-stack
    restart: on-failure
    ports:
      - '8001:8001'
      - '6379:6379'
    volumes:
      - ./cache:/redis_data

  game-init:
    container_name: game-init
    image: michwoj01/ecsb:game-init
    build:
      context: ecsb-backend
      dockerfile: ./ecsb-game-init/Dockerfile
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: on-failure
    ports:
      - '2136:2136'

  moving:
    container_name: moving
    image: michwoj01/ecsb:moving
    build:
      context: ecsb-backend
      dockerfile: ./ecsb-moving/Dockerfile
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: on-failure
    ports:
      - '8085:8085'

  chat:
    container_name: chat
    image: michwoj01/ecsb:chat
    build:
      context: ecsb-backend
      dockerfile: ./ecsb-chat/Dockerfile
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: on-failure
    ports:
      - '2138:2138'

  game-engine:
    container_name: game-engine
    image: michwoj01/ecsb:game-engine
    build:
      context: ecsb-backend
      dockerfile: ./ecsb-game-engine/Dockerfile
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - chat
    restart: on-failure

  timer:
    container_name: timer
    image: michwoj01/ecsb:timer
    build:
      context: ecsb-backend
      dockerfile: ./ecsb-timer/Dockerfile
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - chat
    restart: on-failure

  webapp:
    container_name: webapp
    image: michwoj01/ecsb:webapp
    build:
      context: ecsb-frontend
      dockerfile: ./Dockerfile
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - chat
      - moving
      - game-engine
      - game-init
      - timer
    ports:
      - '5173:5173'
    env_file:
      - ecsb-frontend/.env